<!DOCTYPE html>
<html>
<head>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta charset="utf-8">
<link rel="stylesheet" href="/static/css/style.css">
<style>
table {
  table-layout: fixed ;
  width: 100% ;
}
td {
  width: 50% ;
  vertical-align: top;
}
td {
  border: 3px solid black;
}
tr:nth-child(even) {background-color: #ffffff;}
</style>
</head>
{% autoescape off %}
{% load static %}
<body>
<!--Панель меню-->
<ul class="sidenav">
    <li><a href="/dictionary">Dictionary / Словник</a></li>
    <li><a href="/freq_dict">Freq dict / Частотний словник</a></li>
    <li><a href="/concordance">Concordance / Конкорданс</a></li>
    <li><a href="/freq_dict_ner">NER / Реєстр ім. сутностей</a></li>
    <li><a href="/record/new">New text / Новий текст</a>

</ul>

<div class="content"><!--розділ контенту-->
    <table>
        <tbody>
        <!--<tr>-->
            <!--<td>{{record.text}}</td>-->
            <!--<td>{{record.summary_text}}</td>-->
        <!--</tr>-->
        {{record.summary_text}}
        </tbody>
    </table>
</div>
</body>
{% endautoescape %}
</html>
